.main {
    background-image: url("http://192.168.100.28:8003/AccountantQual.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100vw;
    height: 100vh;
}

.main::after {
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* степень затемнения */
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.cat {
    font-weight: 900;
}

.dragplace {
    border: none !important;
    background: transparent !important;
}

.list-group-word {
    background-color: #e6e74e;
    border-radius: 10px;
    width: max-content;
    position: relative;
    z-index: 50;
}

.list-group-item {
    background-color: #938c57 !important;
    color: white;
    position: relative;
    z-index: 60;
}

.dragplaceCat {
    background-color: #b4b564 !important;
    position: relative;
    z-index: 80;
}

.DragPlaces {
    display: flex !important;
    justify-content: space-around !important;
}

.modalText {
    color: black !important;
    font-weight: 500;
    letter-spacing: .1rem;
}

.modal-content {
    background-color: #e5e5e5;
    border: 4px solid white;
}

.modalCategory {
    background-color: #959515;
    border: 4px solid white;
}

.modalCategoryTitlte {
    font-size: 3.5rem;
    font-weight: 900;
    color: white !important;
    position: relative;
    z-index: 55;
}

.btnModal {
    width: 60% !important;
    font-size: 1.6rem;
    font-weight: 900;
    border: 4px solid white;
    background-color: #b4b564;
    color: white !important;
}

.checkBtn {
    font-size: 1.6rem;
    font-weight: 900;
    border: 4px solid white;
    background-color: #b4b564;
    color: white !important;
    position: relative;
    z-index: 50;
}
